# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [77]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [78]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path('./Resources/applicants_data.csv')
)

# Review the DataFrame
display(applicant_data_df)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [79]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [80]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN', 'NAME'], axis=1)

# Review the DataFrame
# Review the data types associated with the columns
applicant_data_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [81]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
print(categorical_variables)

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [82]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [83]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [84]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [85]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']], encoded_df], axis=1)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [86]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [87]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(['IS_SUCCESSFUL'], axis=1)

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [88]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [89]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
#X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [101]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [102]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [103]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  3

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

3

In [104]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [105]:
# Create the Sequential model instance
nn = Sequential()

In [106]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [107]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu", input_dim=number_input_features))

In [108]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="relu"))

In [109]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 3)                 351

 dense_13 (Dense)            (None, 4)                 16

 dense_14 (Dense)            (None, 1)                 5

=================================================================
Total params: 372
Trainable params: 372
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [114]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [115]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 8.2096 - accuracy: 0.4678
Epoch 2/50
804/804 [==============================] - 1s 894us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 3/50
804/804 [==============================] - 1s 891us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 4/50
804/804 [==============================] - 1s 887us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 5/50
804/804 [==============================] - 1s 914us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 6/50
804/804 [==============================] - 1s 889us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 7/50
804/804 [==============================] - 1s 909us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 8/50
804/804 [==============================] - 1s 887us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 9/50
804/804 [==============================] - 1s 933us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 10/50
804/804 [==============================] - 1s 864us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 11/50
804/804 [==============================] - 1s 889us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 12/50
804/804 [==============================] - 1s 896us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 13/50
804/804 [==============================] - 1s 935us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 14/50
804/804 [==============================] - 1s 883us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 15/50
804/804 [==============================] - 1s 881us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 16/50
804/804 [==============================] - 1s 872us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 17/50
804/804 [==============================] - 1s 948us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 18/50
804/804 [==============================] - 1s 884us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 19/50
804/804 [==============================] - 1s 904us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 20/50
804/804 [==============================] - 1s 910us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 21/50
804/804 [==============================] - 1s 937us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 22/50
804/804 [==============================] - 1s 914us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 23/50
804/804 [==============================] - 1s 885us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 24/50
804/804 [==============================] - 1s 932us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 25/50
804/804 [==============================] - 1s 914us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 26/50
804/804 [==============================] - 1s 890us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 27/50
804/804 [==============================] - 1s 921us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 28/50
804/804 [==============================] - 1s 935us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 29/50
804/804 [==============================] - 1s 910us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 30/50
804/804 [==============================] - 1s 905us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 31/50
804/804 [==============================] - 1s 878us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 32/50
804/804 [==============================] - 1s 948us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 33/50
804/804 [==============================] - 1s 902us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 34/50
804/804 [==============================] - 1s 889us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 35/50
804/804 [==============================] - 1s 911us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 36/50
804/804 [==============================] - 1s 958us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 37/50
804/804 [==============================] - 1s 928us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 38/50
804/804 [==============================] - 1s 912us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 39/50
804/804 [==============================] - 1s 974us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 40/50
804/804 [==============================] - 1s 929us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 41/50
804/804 [==============================] - 1s 907us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 42/50
804/804 [==============================] - 1s 925us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 43/50
804/804 [==============================] - 1s 935us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 44/50
804/804 [==============================] - 1s 901us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 45/50
804/804 [==============================] - 1s 922us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 46/50
804/804 [==============================] - 1s 979us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 47/50
804/804 [==============================] - 1s 929us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 48/50
804/804 [==============================] - 1s 870us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 49/50
804/804 [==============================] - 1s 895us/step - loss: 8.2096 - accuracy: 0.4678
Epoch 50/50
804/804 [==============================] - 1s 974us/step - loss: 8.2096 - accuracy: 0.4678

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [116]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 8.2206 - accuracy: 0.4671 - 311ms/epoch - 1ms/step
Loss: 8.22064208984375, Accuracy: 0.46705538034439087

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [117]:
# Set the model's file path
file_path = Path("./Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [118]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [129]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 4

In [130]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

20

In [131]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [132]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, activation="linear", input_dim=number_input_features))


# Output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn_A1

In [133]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [134]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 3.4105 - accuracy: 0.6043
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 2.3716 - accuracy: 0.6502
Epoch 3/50
804/804 [==============================] - 1s 918us/step - loss: 2.9099 - accuracy: 0.6370
Epoch 4/50
804/804 [==============================] - 1s 940us/step - loss: 2.8603 - accuracy: 0.6426
Epoch 5/50
804/804 [==============================] - 1s 901us/step - loss: 2.6594 - accuracy: 0.6579
Epoch 6/50
804/804 [==============================] - 1s 897us/step - loss: 2.2390 - accuracy: 0.6550
Epoch 7/50
804/804 [==============================] - 1s 957us/step - loss: 1.3325 - accuracy: 0.7012
Epoch 8/50
804/804 [==============================] - 1s 911us/step - loss: 1.4067 - accuracy: 0.6897
Epoch 9/50
804/804 [==============================] - 1s 910us/step - loss: 1.3370 - accuracy: 0.6922
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 1.2887 - accuracy: 0.6995
Epoch 11/50
804/804 [==============================] - 1s 915us/step - loss: 1.7707 - accuracy: 0.6270
Epoch 12/50
804/804 [==============================] - 1s 925us/step - loss: 1.4342 - accuracy: 0.6769
Epoch 13/50
804/804 [==============================] - 1s 941us/step - loss: 1.4372 - accuracy: 0.6840
Epoch 14/50
804/804 [==============================] - 1s 972us/step - loss: 4.0562 - accuracy: 0.5329
Epoch 15/50
804/804 [==============================] - 1s 928us/step - loss: 4.4486 - accuracy: 0.5288
Epoch 16/50
804/804 [==============================] - 1s 934us/step - loss: 4.3475 - accuracy: 0.5293
Epoch 17/50
804/804 [==============================] - 1s 951us/step - loss: 4.4724 - accuracy: 0.5419
Epoch 18/50
804/804 [==============================] - 1s 995us/step - loss: 4.7093 - accuracy: 0.5492
Epoch 19/50
804/804 [==============================] - 1s 929us/step - loss: 4.6463 - accuracy: 0.5498
Epoch 20/50
804/804 [==============================] - 1s 928us/step - loss: 4.6058 - accuracy: 0.5538
Epoch 21/50
804/804 [==============================] - 1s 978us/step - loss: 3.0782 - accuracy: 0.6441
Epoch 22/50
804/804 [==============================] - 1s 943us/step - loss: 2.8594 - accuracy: 0.6530
Epoch 23/50
804/804 [==============================] - 1s 935us/step - loss: 2.9125 - accuracy: 0.6648
Epoch 24/50
804/804 [==============================] - 1s 938us/step - loss: 2.8388 - accuracy: 0.6422
Epoch 25/50
804/804 [==============================] - 1s 980us/step - loss: 2.5866 - accuracy: 0.6026
Epoch 26/50
804/804 [==============================] - 1s 930us/step - loss: 2.3414 - accuracy: 0.6653
Epoch 27/50
804/804 [==============================] - 1s 927us/step - loss: 1.7159 - accuracy: 0.6826
Epoch 28/50
804/804 [==============================] - 1s 998us/step - loss: 1.3370 - accuracy: 0.7020
Epoch 29/50
804/804 [==============================] - 1s 997us/step - loss: 1.1855 - accuracy: 0.7023
Epoch 30/50
804/804 [==============================] - 1s 935us/step - loss: 1.1052 - accuracy: 0.7042
Epoch 31/50
804/804 [==============================] - 1s 953us/step - loss: 1.1703 - accuracy: 0.6485
Epoch 32/50
804/804 [==============================] - 1s 977us/step - loss: 1.2700 - accuracy: 0.6750
Epoch 33/50
804/804 [==============================] - 1s 953us/step - loss: 1.1155 - accuracy: 0.7012
Epoch 34/50
804/804 [==============================] - 1s 935us/step - loss: 1.0496 - accuracy: 0.7032
Epoch 35/50
804/804 [==============================] - 1s 938us/step - loss: 0.9622 - accuracy: 0.6990
Epoch 36/50
804/804 [==============================] - 1s 997us/step - loss: 0.9351 - accuracy: 0.6969
Epoch 37/50
804/804 [==============================] - 1s 938us/step - loss: 0.9249 - accuracy: 0.6993
Epoch 38/50
804/804 [==============================] - 1s 940us/step - loss: 0.9968 - accuracy: 0.6578
Epoch 39/50
804/804 [==============================] - 1s 974us/step - loss: 0.9456 - accuracy: 0.6967
Epoch 40/50
804/804 [==============================] - 1s 925us/step - loss: 0.9331 - accuracy: 0.7029
Epoch 41/50
804/804 [==============================] - 1s 944us/step - loss: 0.9376 - accuracy: 0.7000
Epoch 42/50
804/804 [==============================] - 1s 952us/step - loss: 1.0382 - accuracy: 0.6429
Epoch 43/50
804/804 [==============================] - 1s 990us/step - loss: 0.9146 - accuracy: 0.6885
Epoch 44/50
804/804 [==============================] - 1s 947us/step - loss: 0.9652 - accuracy: 0.6884
Epoch 45/50
804/804 [==============================] - 1s 938us/step - loss: 0.8989 - accuracy: 0.7059
Epoch 46/50
804/804 [==============================] - 1s 983us/step - loss: 0.9075 - accuracy: 0.6953
Epoch 47/50
804/804 [==============================] - 1s 943us/step - loss: 0.8936 - accuracy: 0.7035
Epoch 48/50
804/804 [==============================] - 1s 929us/step - loss: 0.8985 - accuracy: 0.6971
Epoch 49/50
804/804 [==============================] - 1s 942us/step - loss: 0.8890 - accuracy: 0.7027
Epoch 50/50
804/804 [==============================] - 1s 984us/step - loss: 0.9149 - accuracy: 0.7077

#### Alternative Model 2

In [178]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [220]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 5

In [221]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 40

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

40

In [222]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [223]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A1, activation="relu", input_dim=number_input_features))

# Output layer
nn_A2.add(Dense(units=1, activation="relu"))

# Check the structure of the model
nn_A2

In [224]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [225]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 2s 1ms/step - loss: 1.6774 - accuracy: 0.6354
Epoch 2/20
804/804 [==============================] - 1s 1ms/step - loss: 1.2285 - accuracy: 0.6916
Epoch 3/20
804/804 [==============================] - 1s 952us/step - loss: 0.9671 - accuracy: 0.7118
Epoch 4/20
804/804 [==============================] - 1s 1ms/step - loss: 0.9311 - accuracy: 0.7078
Epoch 5/20
804/804 [==============================] - 1s 937us/step - loss: 0.9510 - accuracy: 0.7091
Epoch 6/20
804/804 [==============================] - 1s 966us/step - loss: 1.1310 - accuracy: 0.7045
Epoch 7/20
804/804 [==============================] - 1s 948us/step - loss: 1.0973 - accuracy: 0.7074
Epoch 8/20
804/804 [==============================] - 1s 959us/step - loss: 1.0557 - accuracy: 0.6881
Epoch 9/20
804/804 [==============================] - 1s 903us/step - loss: 0.9593 - accuracy: 0.7046
Epoch 10/20
804/804 [==============================] - 1s 903us/step - loss: 0.9521 - accuracy: 0.7133
Epoch 11/20
804/804 [==============================] - 1s 954us/step - loss: 0.9804 - accuracy: 0.7116
Epoch 12/20
804/804 [==============================] - 1s 874us/step - loss: 1.0008 - accuracy: 0.7076
Epoch 13/20
804/804 [==============================] - 1s 879us/step - loss: 1.0010 - accuracy: 0.7058
Epoch 14/20
804/804 [==============================] - 1s 896us/step - loss: 1.1432 - accuracy: 0.6988
Epoch 15/20
804/804 [==============================] - 1s 957us/step - loss: 1.1013 - accuracy: 0.7135
Epoch 16/20
804/804 [==============================] - 1s 910us/step - loss: 1.0838 - accuracy: 0.7116
Epoch 17/20
804/804 [==============================] - 1s 949us/step - loss: 1.0431 - accuracy: 0.7151
Epoch 18/20
804/804 [==============================] - 1s 934us/step - loss: 1.0525 - accuracy: 0.7142
Epoch 19/20
804/804 [==============================] - 1s 966us/step - loss: 0.9257 - accuracy: 0.7152
Epoch 20/20
804/804 [==============================] - 1s 904us/step - loss: 0.8240 - accuracy: 0.7222

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [227]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 8.2206 - accuracy: 0.4671 - 206ms/epoch - 770us/step
Loss: 8.22064208984375, Accuracy: 0.46705538034439087

In [228]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 1.3697 - accuracy: 0.4976 - 312ms/epoch - 1ms/step
Loss: 1.3696930408477783, Accuracy: 0.49760931730270386

In [229]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 1.4270 - accuracy: 0.4914 - 301ms/epoch - 1ms/step
Loss: 1.4269983768463135, Accuracy: 0.49142858386039734

### Step 3: Save each of your alternative models as an HDF5 file.

In [230]:
# Set the file path for the first alternative model
file_path = Path("./Resources/Model2.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [231]:
# Set the file path for the second alternative model
file_path = Path("./Resources/Model3.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)